a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: darkgreen;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: red;
    text-decoration: underline;
}
a:active {
    color: blue;
    text-decoration: underline;
}