ul {
    list-style-type: none;
}
li {
    padding: 5px;
}
a:link {
    color: darkgray;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
}
